# Docker Compose file for Nginx Web Server
#
#   Build images: docker compose build
#      Start app: docker compose up app
#       Stop all: docker compose down
#

services:
  app:
    image: main-backend:latest
    build:
      context: .
    ports:
      - '8000:80'
    # Nginx image has its own default command, no need to override 
    # unless you want to debug.
    # command: ...
