# Docker Compose file for Nginx Web Server
#
#   Build images: docker compose build
#      Start app: docker compose up app
#       Stop all: docker compose down
#

services:
  app:
    image: main-backend:latest
    build:
      context: .
    ports:
      - '8000:80'
    develop:
      watch:
        - action: rebuild
          path: ./Public
        - action: sync+restart
          path: ./nginx.conf
          target: /etc/nginx/conf.d/default.conf
        - action: rebuild
          path: ./Dockerfile
        - action: rebuild
          path: ./bake_assets.sh
    # Nginx image has its own default command, no need to override 
    # unless you want to debug.
    # command: ...
